{#
/**
 * @file
 * Alexanders Order template used on the admin order page.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}

<div class="layout-order-form clearfix">
  <div class="layout-region layout-region-order-main">
      <h2>Alexanders Order #{{ order_number }}</h2>
      Rush? {{ rush }}
  </div>
</div>
